* {
  font-family: nunito;
  font-weight: 500;
}

/* Type Selectors */
body {
  background-color: skyblue;
}

h1, p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0;
}

ul {
  padding: 0px 0px;
  margin: 0px;
  height: 100%;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  margin: 4px 8px;
  width: 176px;
}

input {
    font-size: 16px;
    border: none;
    margin: 0;
    padding: 0 8px;
    width: 192px;
}
  
input:active, input:focus {
    outline: none;
}

/* Class Selectors */

/* Body classes */
.bodywrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.masterdivwrapper {
  height: 100%;
  max-height: 280px;
  border: 2px solid salmon;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 304px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.submasterdivwrapper {
  width: 256px;
  margin: 20px 24px;
}

/* 0 Items - Hide <ul> class */
.ulcar {
  display: none;
  margin: 0px;
}

/* List classes */
.tododivwrapper {
  width: 100%;
  display: flex;
  justify-content: start;
  align-content: start;
}

.divwrapper {
  word-wrap: break-word;
  width: 100%;
  margin: 2px 4px 2px 0px;
  padding-left: 0px;
  flex-direction: row;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.liwrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  width:100%;
}

.check {
  margin-left: 8px;
  height: 10px;
  width: 10px;
}

.done {
  text-decoration: line-through;
}

/* Input classes */
.taskadd {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

.inputbuttonwrapper {
  margin-bottom: 16px;
  width: 252px;
  padding: 8px 0px;
  border: 2px solid lightgray;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

/* Input Button classes */
.imgb {
  opacity: 60%;
}

.imgb:hover {
  opacity: 100%;
}

/* Item Delete Button classes */
.delbuttonwrapper {
  height: 32px;
  width: 32px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.delbutton {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
}

.imgdb {
  height: 12px;
  width: 12px;
  padding: 10px 0px 10px 0px;
  opacity: 50%;
}

.imgdb:hover {
  height: 12px;
  width: 12px;
  padding: 10px 0px 10px 0px;
  opacity: 100%;
}

/* Scroll classes */
::-webkit-scrollbar {
  width: 6px;
  margin-left: 4px;
  padding-left: 4px;
}

::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 6px;
}

/* Delete-All Button classes */
.clearall {
  margin-top: 16px;
  width: 256px;
  display: flex;
  justify-content: center;
  opacity: 50%;
}

.clearall:hover {
  opacity: 100%;
}

/* PendingTask classes */
.completedtasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comptaskhide {
  width: 256px;
  margin-top: 0px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.comptaskp {
  width: 256px;
  margin-top: 16px;
  padding: 0;
  display: flex;
  justify-content: center;
}